@model IEnumerable<MvcCrud.Models.ActaNota>

@{
    ViewData["Title"] = "Index";
}

@section Estilos{
    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />


    <link href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" rel="stylesheet" />
      
    <style>
        .btn-expo-excel {
            background-color: #199859 !important;
            color: white !important;
            border: none !important;
        }

        .btn-expo-pdf {
            background-color: #ff0000 !important;
            color: white !important;
            border: none !important;
        }

        .btn-imprimir {
            background-color: #4672cc !important;
            color: white !important;
            border: none !important;
        }
    </style>
}

    <h1 style="text-align: center">LISTA DE ESTUDIANTES</h1>

 <p style="text-align: right">
        <a asp-action="Create" class="btn btn-success">Nuevo &nbsp;
            <i class="fa-solid fa-user-plus"></i>
           
        </a>
</p>
<table id="tb_datanotas" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdNotasE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carnet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ipn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iipn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Siste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proyect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdNotasE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carnet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ipn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iipn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Siste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proyect)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nf)
            </td>

                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdNotasE">
                        <i class="fa-regular fa-pen-to-square fa-sm"></i>
                    </a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdNotasE">
                        <i class="fa-solid fa-list-ul fa-sm"></i>
                    </a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdNotasE">
                        <i class="fa-regular fa-trash-can fa-sm"></i>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

    <script src="https://kit.fontawesome.com/a3cab70b80.js" crossorigin="anonymous"></script>
    
    <script>
        $(document).ready(function () {
            $('#tb_datanotas').DataTable({

                "language": {
                    url: "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
                },
                dom: "Bfrtip",
                buttons: [
                    'pageLength',
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa-regular fa-file-excel fa-lg" ></i>',
                        filename: 'Reporte de Notas Estudiantes',
                        titleAttr: 'Exportar a Excel',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                        },
                        className: 'btn-expo-excel'
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fa-regular fa-file-pdf fa-lg" ></i>',
                        filename: 'Reporte de Notas Estudiantes',
                        titleAttr: 'Exportar a PDF',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                        },
                        className: 'btn-expo-pdf'
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa-sharp fa-solid fa-print fa-lg"></i>',
                        title: 'REPORTE DE NOTAS',
                        titleAttr: 'Imprimir',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                        },
                        className: 'btn-imprimir'
                    }
                ]

            });
        });
    </script>



}
